.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 0px auto;
}

.item-form {
    width: 300px;
    margin: 10px;
}

.dropdown-menu {
  width: 290px;
}


.select-item {
  width: 300px;
}

.form-title {
    font-family: "Amatic SC";
    font-size: 3.5em;
    font-weight: bold;
    margin-right: 20%;
}

.submit-button {
    margin: 10px;
    background-color: $color-teal;
    color: white;
    border-radius: 5px;
    width: 50%;
}
